$font-family-sans-serif: "Roboto";
@import "bootstrap/scss/bootstrap.scss";

.fh {
  height: 100vh;
}

.intro {
  background-color: black;
  color: white;

  h1 {
    font-size: 6vw;
    font-weight: bold;
  }
  h2 {
    font-size: 2vw;
    color: rgba(255, 255, 255, 0.9);
  }
}

.graph-1 {
  background-color: rgb(255, 255, 255);
  .graph-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
}

.intersection {
  background-color: black;
  color: white;
  h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: normal;
  }
}
